services:
  # Servizio IA (Ollama)
  ollama:
    image: ollama/ollama:latest
    container_name: paguro_ollama
    environment:
      - OLLAMA_KEEP_ALIVE=-1
    volumes:
      - ./ollama_data:/root/.ollama
    ports:
      - "11434:11434"
    restart: always
    networks:
      - paguro_net

  # Servizio Logica (FastAPI + Python)
  paguro_api:
    build: .
    container_name: paguro_brain
    ports:
      - "${API_PORT:-8001}:8000"
    volumes:
      - ./app:/app
    environment:
      - OLLAMA_HOST=${OLLAMA_HOST}
      - INFLUX_URL=${INFLUX_URL}
      - INFLUX_TOKEN=${INFLUX_TOKEN}
      - INFLUX_ORG=${INFLUX_ORG}
      - INFLUX_BUCKET=${INFLUX_BUCKET}
      - MODEL_NAME=${MODEL_NAME}
    depends_on:
      - ollama
    restart: always
    networks:
      - paguro_net

networks:
  paguro_net:
    driver: bridge
